<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="F:/Programs/Install/MyPrograms/Programming/Settings/IntelliJIDEA/IdeaProjects/WebinarSelenium/src/test/java/TestAllure/TestAmazonChrome.java">
        <classes>
            <class name="TestAllure.TestAmazonChrome">
                <methods>
                    <include name="checkGiftCards"/>
                    <include name="checkAmazonLive"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>